GITHUB_APP_ID=op://Private/CovenCat/App ID
GITHUB_WEBHOOK_SECRET=op://Private/CovenCat/Webhook Secret
GITHUB_APP_PRIVATE_KEY=op://Private/CovenCat/Private Key
COVEN_GITHUB_POLICY_PATH=./coven-github-policy.json
COVEN_GITHUB_STATE_DIR=./coven-github-state
COVEN_CODE_BIN=coven-code
